<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>
<body>
    <section class="slider_container">
        <section class="slider">
            <div class="slide one image-with-gradient"  >
                
                <img  src="/photo/aquaman.jpg"  alt="">
                
                <span class="caption">
                  <div>Aquaman 2</div>  
                  <p>Aquaman 2 sees Arthur Curry face a new oceanic threat, navigating political intrigue and uncovering secrets that reshape Atlantis's fate.</p>
              <div><a href="https://www.youtube.com/watch?v=yN6pXeWY7nM" type="button" class="btn btn-primary" > <img src="/photo/youtube.png" title="youtube icons" style="height:40px; width:40px; margin-right:1em"/>Watch Trailer</a>  </div>  

                </span>
            </div>
            <div class="slide two image-with-gradient">
                <img src="/photo/bluebeetle.webp" alt="">
                <span class="caption">
                   <div> Blue Beetle</div>
                   <p>Blue Beetle, a teen named Jaime gains powerful alien armor. He must master its abilities to save the world from impending threats.</p>
                <a type="button" href="https://www.youtube.com/watch?v=vS3_72Gb-bI" class="btn btn-primary "> <img src="/photo/youtube.png" title="youtube icons" style="height: 40px;width:40px; margin-right:1em"/>Watch Trailer</a>    

                </span>
                 
            </div>
            <div class="slide three image-with-gradient">
                <img src="/photo/elemets.jpg" alt="">
                <span class="caption">
                    <div>Elements  </div>
                    <p>Elements: A captivating sci-fi thriller exploring humanity's struggle for survival as natural forces unleash chaos, testing resilience and unity.</p>
                 <a type="button" href="https://www.youtube.com/watch?v=hXzcyx9V0xw" class="btn btn-primary"> <img src="/photo/youtube.png" title="youtube icons" style="height: 40px;width:40px; margin-right:1em"/>Watch Trailer</a>    
                </span>
                
            </div>
              <div class="slide four image-with-gradient">
                <img src="/photo/money.jpg" alt="">
                <span class="caption">
                    <div>Money Heist  </div>
                    <p>Money Heist: Intricate heist orchestrated by the Professor and his team, navigating love, betrayal, and high-stakes plans in Spain's Royal Mint.</p>
                 <a type="button" href="https://www.youtube.com/watch?v=2ncLy2tHEwg" class="btn btn-primary"> <img src="/photo/youtube.png" title="youtube icons" style="height: 40px;width:40px; margin-right:1em"/>Watch Trailer</a>    
                </span>
                
            </div>
              <div class="slide five image-with-gradient">
                <img src="/photo/hangover.jpg" alt="">
                <span class="caption">
                    <div>Hangover 3</div>
                    <p>The Hangover Part III: Friends embark on a wild, dangerous adventure to save a kidnapped friend, facing chaos and hilarity.</p>
                 <a href="https://www.youtube.com/watch?v=96TelFMZwHc" type="button"  class="btn btn-primary"> <img src="/photo/youtube.png" title="youtube icons" style="height: 40px;width:40px; margin-right:1em"/>Watch Trailer</a>    
                </span>
                
            </div>
        </section>
    </section>
    <div style="display: flex;
    justify-content: space-between;
    position:relative;left:8em;
    flex-direction: column;"> <h2 style="color: white;">All Movies</h2>
    <div  style="  border-top: 8px solid #e81e1e;
    border-radius: 0px;
    width: 16%; margin-bottom:2em"></div>
    </div>
    <div class="wrapper">
	<div class="card">
		<div class="poster"><img src="https://i.postimg.cc/jjBSrfnQ/poster1-img.jpg" alt="Location Unknown"></div>
		<div class="details">
			<h1>Location Unknown</h1>
			<h2>2021 • PG • 1hr 38min</h2>
			<div class="rating">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="far fa-star"></i>
				<span>4.2/5</span>
			</div>
			<div class="tags">
				<span class="tag">Italian</span>
				<span class="tag">Drama</span>
				<span class="tag">Indie</span>
			</div>
			<p class="desc">
				Marco, a disillusioned backpacker in his late 20s, embarks on a solitary journey in search for meaning.
			</p>
			<div class="cast">
				<h3>Cast</h3>
				<ul>
					<li><img src="https://i.postimg.cc/jqgkqhSb/cast-11.jpg" alt="Marco Andrews" title="Marco Andrews"></li>
					<li><img src="https://i.postimg.cc/8P7X7r7r/cast-12.jpg" alt="Rebecca Floyd" title="Rebecca Floyd"></li>
					<li><img src="https://i.postimg.cc/2SvHwRFk/cast-13.jpg
" alt="Antonio Herrera" title="Antonio Herrera"></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="poster"><img src="https://i.postimg.cc/GtxLYS7q/poster2-img.jpg" alt="Location Unknown"></div>
		<div class="details">
			<h1>Air</h1>
			<h2>2020 • PG • 24min</h2>
			<div class="rating">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="far fa-star"></i>
				<span>4/5</span>
			</div>
			<div class="tags">
				<span class="tag">Romance</span>
				<span class="tag">Comedy</span>
				<span class="tag">Short</span>
			</div>
			<p class="desc">
				Two strangers meet together on a plane flying to the alps.
			</p>
			<div class="cast">
				<h3>Cast</h3>
				<ul>
					<li><img src="https://i.postimg.cc/yY2QcYRp/cast-21.jpg" alt="Angelina Whyte" title="Angelina Whyte"></li>
					<li><img src="https://i.postimg.cc/R0BgpsXc/cast-22.jpg" alt="Ivan Benson" title="Ivan Benson"></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="poster"><img src="https://i.postimg.cc/yxH6DzPD/poster3-img.jpg" alt="Location Unknown"></div>
		<div class="details">
			<h1>End Credits</h1>
			<h2>2021 • R • 1hr 41min</h2>
			<div class="rating">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star-half-alt"></i>
				<span>4.7/5</span>
			</div>
			<div class="tags">
				<span class="tag yellow">Teen</span>
				<span class="tag">Comedy</span>
				<span class="tag blue">Drama</span>
			</div>
			<p class="desc">
				Alex, together with his best friends, goes on a road trip whilst experiencing friendship, self-discovery, and the bittersweet transition to adulthood.
			</p>
			<div class="cast">
				<h3>Cast</h3>
				<ul>
					<li><img src="https://i.postimg.cc/xd3twv4B/cast-31.jpg" alt="Jessica Enduro" title="Jessica Enduro"></li>
					<li><img src="https://i.postimg.cc/C1MmSZy5/cast-32.jpg" alt="Charles Garcia" title="Charles Garcia"></li>
				</ul>
			</div>
		</div>
	</div>
    <div class="card">
		<div class="poster"><img src="https://i.postimg.cc/yxH6DzPD/poster3-img.jpg" alt="Location Unknown"></div>
		<div class="details">
			<h1>End Credits</h1>
			<h2>2021 • R • 1hr 41min</h2>
			<div class="rating">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star-half-alt"></i>
				<span>4.7/5</span>
			</div>
			<div class="tags">
				<span class="tag yellow">Teen</span>
				<span class="tag">Comedy</span>
				<span class="tag blue">Drama</span>
			</div>
			<p class="desc">
				Alex, together with his best friends, goes on a road trip whilst experiencing friendship, self-discovery, and the bittersweet transition to adulthood.
			</p>
			<div class="cast">
				<h3>Cast</h3>
				<ul>
					<li><img src="https://i.postimg.cc/xd3twv4B/cast-31.jpg" alt="Jessica Enduro" title="Jessica Enduro"></li>
					<li><img src="https://i.postimg.cc/C1MmSZy5/cast-32.jpg" alt="Charles Garcia" title="Charles Garcia"></li>
				</ul>
			</div>
		</div>
	</div>
    <div class="card">
		<div class="poster"><img src="https://i.postimg.cc/yxH6DzPD/poster3-img.jpg" alt="Location Unknown"></div>
		<div class="details">
			<h1>End Credits</h1>
			<h2>2021 • R • 1hr 41min</h2>
			<div class="rating">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star-half-alt"></i>
				<span>4.7/5</span>
			</div>
			<div class="tags">
				<span class="tag yellow">Teen</span>
				<span class="tag">Comedy</span>
				<span class="tag blue">Drama</span>
			</div>
			<p class="desc">
				Alex, together with his best friends, goes on a road trip whilst experiencing friendship, self-discovery, and the bittersweet transition to adulthood.
			</p>
			<div class="cast">
				<h3>Cast</h3>
				<ul>
					<li><img src="https://i.postimg.cc/xd3twv4B/cast-31.jpg" alt="Jessica Enduro" title="Jessica Enduro"></li>
					<li><img src="https://i.postimg.cc/C1MmSZy5/cast-32.jpg" alt="Charles Garcia" title="Charles Garcia"></li>
				</ul>
			</div>
		</div>
	</div>
    <div class="card">
		<div class="poster"><img src="https://i.postimg.cc/yxH6DzPD/poster3-img.jpg" alt="Location Unknown"></div>
		<div class="details">
			<h1>End Credits</h1>
			<h2>2021 • R • 1hr 41min</h2>
			<div class="rating">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star-half-alt"></i>
				<span>4.7/5</span>
			</div>
			<div class="tags">
				<span class="tag yellow">Teen</span>
				<span class="tag">Comedy</span>
				<span class="tag blue">Drama</span>
			</div>
			<p class="desc">
				Alex, together with his best friends, goes on a road trip whilst experiencing friendship, self-discovery, and the bittersweet transition to adulthood.
			</p>
			<div class="cast">
				<h3>Cast</h3>
				<ul>
					<li><img src="https://i.postimg.cc/xd3twv4B/cast-31.jpg" alt="Jessica Enduro" title="Jessica Enduro"></li>
					<li><img src="https://i.postimg.cc/C1MmSZy5/cast-32.jpg" alt="Charles Garcia" title="Charles Garcia"></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>